.{
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	justify-content: space-around;
	padding-top: 120px;
}

.intro {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	/*font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	padding-left: 50px;
	padding-top: 50px;
}

.intro h2 {
	font-size: 42px;
	font-weight: 200;
	/*color: rgb(169, 169, 169);*/
	color: rgb(129, 133, 137);
}

.name {
	font-weight: 600;
	color: rgb(0, 0, 0);
}

.intro p {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	max-width: 720px;
	font-size: 38px;
	font-weight: 200;
	/*color: rgb(68, 68, 82);*/
	color: rgb(129, 133, 137);
	/*line-height: 1px;*/
}

.img_container img {
	padding-top: 40px;
	padding-right: 80px;
	height: 500px;
	width: 500px;
}

.about {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.about img {
	padding-right: 20px;
	height: 320px;
	width: 320px;
	float: right;
}
.about h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 200;
	color: rgb(129, 133, 137);
	text-align: justify;
}

.projects {
	font-family: 'Open Sans',sans-serif;
	text-align: center;
}
.projects h2 {
	font-family: 'Open Sans',sans-serif;
	font-size:  30px;
	font-weight: 500;
}

.flex {
	display: flex;
	/*padding: 80px;*/
	text-align: center;
	/*font-family: 'Open Sans', sans-serif;*/
	justify-content: space-around;
	flex-wrap: wrap;
}
.flex div{
	width: 31%;
}
.projects img {
	height: 320px;
	width: 320px;
}
.projects div {
	padding: 10px;
}
.projects div h2 {
	font-size:  24px;
	font-weight: 400;
	/*line-height: 3px;*/
}
.projects h3 {
	text-align: justify;
	font-size: 18px;
	font-weight: 200;
	color: rgb(129, 133, 137);
}

.skills {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 80px;
}
.skills .flex{
	justify-content: center;
}
.skills h2 {
	font-size: 24px;
	font-weight: 400;
}
.skills h3 {
	padding: 10px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin: 0 20px;
	color: rgb(129, 133, 137);;
}
.skills div div h3:nth-child(1) {
	padding: 10px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin: 0 20px;
	color: rgb(0, 0, 0);
}

.copyright {
	padding-top: 100px;

	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 550;

	display: inline-block;
	max-width: 300px;
}

.links {
	padding-top: 100px;
	float: right;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 550;
	display: inline-block;
	max-width: 800px;
}



//Minimizing and stuff
@media screen and (max-width: 850px) {
	.img_container img {
		height: 300px;
		width: 300px;
	}
}

@media screen and (max-width: 550px) {
	.img_container img {
		height: 200px;
		width: 200px;
	}
	.img_container {
		position: absolute;
    	top: 0;
    	right: 0;
	}
}

@media screen and (max-width: 375px) {
	header {
		flex-direction: column;
	}

	/*.flex {
		flex-direction: column;
		justify-content: normal;
	}*/
	.img_container img {
		height: 150px;
		width: 150px;
	}

	.intro {
		padding: 45px 0px;
		position: relative;
		/*width: 150px;*/
	}

	.intro h2, .intro p, .projects h2 {
		font-size: 18px;
	}
	
	.projects div h2 {
		font-size: 15px;
	}
	.projects h3 {
		font-size: 15px;
	}

	div {
		width: 300px;
	}

	.flex div{
	width: 100%;
	}
	.projects div {
		padding: 0px;
	}
	.projects img {
		height: 150px;
		width: 150px;
	}

	.about {
		padding-left: 20px;
		padding-righ: 20px;
	}

	.about h3 {
	font-size: 14px;
	}

	.skills h3 {
		padding: 0px;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin: 0 20px;
		color: rgb(129, 133, 137);;
	}
	.skills div div h3:nth-child(1) {
		padding: 0px;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin: 0 20px;
		color: rgb(0, 0, 0);
}

	footer {
		font-size: 10px;
	}
}
